VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=pip5-rotaractjpnagar.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pip5-rotaractjpnagar
VITE_FIREBASE_STORAGE_BUCKET=pip5-rotaractjpnagar.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=915671590237
VITE_FIREBASE_APP_ID=1:915671590237:web:e42f87e0649159d87d74b4
